.container {
  display: flex;
}

.info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 3rem;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImage {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 1.3rem;
  font-weight: 500;
}

.imgContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 2.2rem;
  }

  .description p {
    font-size: 1rem;
  }
}
